.searchContainer{
    margin: 20px 0;
}
.searchbtn{
    background: #F57136 0% 0% no-repeat padding-box;
border-radius: 0px 5px 5px 0px;
opacity: 1;
    padding: 0 34px;
    color: white;
}
.searchbtn:focus{
    outline: none;
}
.searchbtn svg{
    font-weight: bolder;
}
.filter{
    display: flex;
}
.filter select:not(:last-child){
    margin-right:10px;
}
.modalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.avatar{
    height: 267px;
    width: 100%;
    object-fit: cover;
}
.infoTxt{
   display: flex;
   margin-bottom: 10px;
   align-items: center;
}
.infoTxt p{
    margin-left: 10px;
}
.pdfBtn{
    background: #F57136 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
 
    height: 40px;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 400;
    margin-top: 20px;
    padding: 0 10px;

}
.pdfBtn:focus{
    outline: none;
}
.subHeading{
    text-align: left;
    font: normal normal bold 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
    margin-top: 20px;
}
.subHeading::after{
content: '';
position: absolute;
background: #F57136 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
height: 3px;
width: 50%;
left: 0;
bottom: -5px;

}

.infoTable tr td{
height: 40px;
}
.singlePortfolio{
    display: flex;
    margin-bottom: 10px;
}
.index{
    display: flex;
   
    align-items: center;
    width: 80px;
}
.portfolioIndex{
    height: 40px;
    width: 40px;
    background: #F57136 0% 0% no-repeat padding-box;
    opacity: 1;
    display: inline-block;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 11;
}
.portfolioIndex::after{
    position: absolute;
    content: '';
    border: 3px solid #F57136;
    height: 100%;
    width: 100%;
    left: 10px;
    bottom: -10px;
    z-index: -2;
    
}